# Database
DB_URL=jdbc:postgresql://localhost:5432/onion_db
DB_USERNAME=<db_username>
DB_PASSWORD=<db_password>

# Vault
VAULT_URI=http://localhost:8200
VAULT_TOKEN=<vault_token>

# JWT
JWT_SECRET=<your_256_bit_secret_key>
